.container {
  height: 680px;
  display: flex;
	justify-content: center;
	align-items: center;
}

.hero__welcome {
  padding-bottom: 30px;
}

.hero__name {
  padding-bottom: 45px;
  font-size: 36px;
  color: #fff;
}

.me {
  padding-bottom: 110px;
}

.hero__data {
  padding-right: 150px;
}

