.socials--header {
  display: flex;
	justify-content: center;
  align-items: center
  }

.socials--footer {
  display: flex;
  justify-content: center;
  align-items: center;  
  }  
  

.socials {
  
}


  .socials__item { 
    width: 27px;
    height: 27px;
    fill: #716a65;
    
  }