section.feedback
  h4.feedback__title.title Связаться со мной
  form.feedback__form
    label.feedback__block
      .feedback__label-text Введите ваше имя
      //- +icon
      input.feedback__name(type='text' name='name' placeholder='Ковальчук Дмитрий')
    label.feedback__block
      .feedback__label-text Введите ваш email
      //- +icon
      input.feedback__name(type='email' name='email' placeholder='loftschool@study.com')
    label.feedback__block
      .feedback__label-text Сообщение к письму
      //- +icon
      textarea.feedback__name( name='text') Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса
    button(type='submit') ОТПРАВИТЬ