section.hero
  .container
    .hero__face
      .hero__photo
        //- +img
      .hero__data
        table
          - var data = [['Проживаю:','Липецк'], ['Возраст:','25 лет'], ['Родился:','27 марта 1994']];
          each row in data
            tr
              td #{row[0]}
              td #{row[1]}


    .hero__content
      h3
        .hero__welcome Привет, меня зовут
        .hero__name Александр Серебряков
        .hero__text.text 
          p.me Я занимаюсь разработкой современных сайтов и приложений.<br>Мне нравиться делать интересные и современные проекты.
          P Этот сайт я сделал в рамках обучения в школе онлайн образования<br> LoftSchool. Чуть похже я освежу в нем свой контент. А пока<br> посмотрите, как тут все классно и красиво!