.welcome-section
  .welcome-section__text
    h1.welcome-section__name-title Александр<br> Серебряков
    H2.Welcome-section__title Личный сайт<br> веб разработчика
  a.welcome-section__scroll Скролл
  //- +icon